/*Most Stuff */
body {
    width: auto;
    height: auto;
    background-color: tan;
    padding: 5%;
}
h1 {
  text-align: center;
  
}
nav {
    margin: auto;
    text-align: center;
    border-bottom: solid black 1px;
}
nav a {
  padding: 1rem;
}
nav a:hover {
  border: 1px solid #0d916d;
  border-radius: 5px;
}
a {
    text-decoration: none;
    color: rgb(1, 58, 48);
    font-size:x-large;
}
.image {
  max-width: 40rem;
  max-height: 40rem;
}

.about_us {
  display: flex;
}
.about_us p {
  width: 60%
}

.serviceable_areas {
  text-align: center;
}


