body {
    background-color: lightskyblue;
  }
  
  h1 {
    color: white;
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
  }
  img {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: block;
  }
  figcaption{
    text-align: center;
    font-style: italic;
  }
  
  
    table tr:nth-child(even) {
      background-color: #cf2784;
      color: #fff;
     }
      table tr:nth-child(odd) {
        background-color: #ee8989;
        color: #fff; 
      }
      table tr:nth-child(1) {
        background-color: #326;
        color: #fff; }