* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
body {
    margin:auto;
    background-color: #0d3b66;
    height: 90%;
}
header {
    background-color: #1e1e24;
    color: #f7ebe8;
    border:#444140 solid 4px;
}
nav {
    margin: auto;
    padding: auto;
    text-align: center;
}

button {
    font-size: 2rem;
    font-weight: 700;
    background-color: #b33f62;
    color: #f3c677;
    border: 2px solid #f9564f;
    border-radius: 5px;;
    margin: 4px;

    transition-property: transform;
    transition-duration: .2s;
    transition-timing-function: ease;
}
button:hover {
    transform: translateY(-5px);
}

main {
    background-color: #1e1e24;
    color: #dab785;
}
section {
    padding: 2%
}
.welcomeMessage {
    align-items: center;
    margin: auto;
}
.content1 {
    padding: 2%;
    padding-top: 0%;
    display: flex;
}
img {
    border-radius: 4%;
    scale: .9;
}
.content2 {
    padding: 5%;
    padding-left: 3%;
    margin: auto;
    
    margin-top: 3.5%;
}
h1 {
    text-align: center;
    
} 
h2 {
    color: #e54b4b;
    border-bottom: 1px solid #f95738;
    width: 250px;
    font-size: 3rem;
    margin-bottom: auto;
    
}
div {
    color: #ffa987;
}
.divider {
    height: 6.5rem;
    width: 100%;
    border: 1px solid #05382a;
    background-color: #0d3b66;
}
.educationContent {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
}
.educationContent p {
    width: 50%;
    border: 1px solid darkgreen;
    padding: 1.5%;
}
