body {
    background-color:bisque;
}
h1 {
    margin-right: 25%;
    margin-left: 25%;
    padding-right: 10%;
}
.calculator {

    position: absolute;
    display: flex;
    flex-wrap: wrap;
    width: 21.5rem;
    border: 1px solid black;
    background-color: grey;
    padding: 1%;
    margin: 0 25% 0 25%;
}
.inOut {
    width: 100%;
    height: 4rem;
    font-size:xx-large;
    font-family:  italic;
    
}
.buttons {
    display: flex;
    flex-wrap: wrap;
}
.button {
    width: 5rem;
    height: 5rem;
    margin: 3px;
    border: .5px solid black;
    font-size:x-large;
}