<header>
    <h1>Evan Wurster's Elegant Whale || ITIS 3135</h1>
    <nav class=".header">
        <a href = "./" class="fancyLink">Homepage</a>
        |
        <a href = "introduction.html" class="fancyLink">Introduction</a>
        |
        <a href = "contract.html" class="fancyLink">Contract</a>
        |
        <a href = "/" class="fancyLink">Back to main</a>
        |
        <a href = "tables.html" class="fancyLink">Tables</a>
        |
        <a href = "forms.html" class="fancyLink">Forms</a>
        |
        <a href = "website_evaluations.html" class="fancyLink">Website Evaluations</a>
        |
        <a href = "STUFF().htm" class="fancyLink">CRAP website (stuff)</a>
        |
        <a href = "firstscripts.html" class="fancyLink">firstscripts</a>
        |
        <a href = "byo_intro.html" class="fancyLink">BYO Intro</a>
        |
        <a href = "projectOneDesignPage.html" class="fancyLink">Project 1 Design Page</a>
        |
        <a href = "calculator_try.html" class="fancyLink">Simple Calculator</a>
        |
        <a href = "calculator_ffc.html" class="fancyLink">FFC Calculator</a>
        |
        <a href = "arrays.html" class="fancyLink">Arrays</a>
        |
        <a href = "clientProject2" class="fancyLink">Client Project Part 2</a>
        |
        <a href=  "hobby" class="fancyLink">Hobby Midterm</a>
        |
        <a href = "review1.html" class="fancyLink">Peer Review 1</a>
        |
        <a href = "review2.html" class="fancyLink">Peer Review 2</a>
    </nav>
</header>